body{
	background: whites;
	color: black;
	padding: 16px;
	margin: auto ;
}


.p-box{
	background-color:white;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;

}


h2{
	text-align: center;
    text-transform: capitalize;
    padding: 20px;
}

.container{
	background: white;
	color: black;
	border: 0.01em lightgrey solid;
	border-radius: 3% ;
	margin: 10% 35% 100px;
	padding-left: 50px;
	padding-right: 80px;

}


.my-form input:hover{
	color:black;
	border-color: red;
}


.my-form input:active{
	border-color: blue;
} 

.my-form input:visited{
	color: green;
}

.my-form label{
   padding-left: 10px;
   text-transform: capitalize;
}


.my-form input{
	background: white;
	color: black;
	text-transform: capitalize;
	width: 100%;
	padding: 16px;
	border: 0.2em lightgray solid;
}


.my-form input[type="submit"]{
	background: blue;
	color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 6px;
    border: none;
}


.my-form input[type="text"]{
    margin: 10px;
    padding:10px;
   
}